<h1> edit event </h1> 
<%= link_to 'index', events_path %> 
<%= form_for :event, url: event_path(@event), method: :patch do |f| %>
<!-- Error messages -->
 <% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
      this event from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<p>	<%= f.label :name %> <%= f.text_field :name %> </p>
<p>	<%= f.label :location %> <%= f.text_field :location %> </p>
<p>	<%= f.label :description %> <%= f.text_field :description %> </p>
<p>	<%= f.label :organisation %> <%= f.text_field :organisation %> </p>
<p>	<%= f.label :latitude %> <%= f.text_field :latitude %> </p>
<p>	<%= f.label :longitude %> <%= f.text_field :longitude %> </p>
<p> <%= f.submit %> </p>
<% end %>
